header {
    background-color: darkorange;
    color: white;
    display: flex;
    justify-content: safe;
    align-items: center;
    width: 100%;
    height: 60px;        
};

button {
    position: right;    
};